<div class="bg-light p-5">
  <h2 class="bg-info p-4">Új kisállat</h2>
  <form [formGroup]="newCatForm" (ngSubmit)="newPet()">
    <div class="mb-3">
      <label for="name" class="form-label">Név</label>
      <input type="text" class="form-control" formControlName="name" required>

    </div>
    <!-- <div class="mb-3">            
          <label for="bname" class="form-label">Fajta</label>
          <input type="text" class="form-control" 
          
          formControlName="bname">
    </div> -->
    <label for="bname" class="form-label">Fajták</label>
    <div class="input-group mb-3">
      <select class="form-select" (change)="changeBName($event)" formControlName="bname">
        <option value="">Válassz fajtát: </option>
        <option *ngFor="let bname of Bname" [ngValue]="bname">
          {{bname }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="age" class="form-label">Kor</label>
      <input type="text" class="form-control" formControlName="age">
    </div>
    <!-- <div class="mb-3">
      <label for="gender" class="form-label">Neme</label>
      <input type="text" class="form-control" formControlName="gender">
    </div> -->

    <label for="gender" class="form-label">Neme</label>
    <div class="input-group mb-3">
      <select class="form-select" (change)="changeGender($event)" formControlName="gender">
        <option value="">Válassz nemet: </option>
        <option *ngFor="let gender of Gender" [ngValue]="gender">
          {{gender }}
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label for="shelters_id" class="form-label">Menhely</label>
      <input type="text" class="form-control" formControlName="shelters_id">
    </div>
    <!-- <div class="mb-3">
      <label for="neutered" class="form-label">Ivartalanított</label>
      <input type="text" class="form-control" formControlName="neutered">
    </div> -->

    <label for="neutered" class="form-label">Ivartalanított-e</label>
    <div class="input-group mb-3">
      <select class="form-select" (change)="changeNeutered($event)" formControlName="neutered">
        <option value="">Ivartalanított?</option>
        <option *ngFor="let neutered of Neutered" [ngValue]="neutered">
          {{neutered }}
        </option>
      </select>
    </div>

    <!-- <div class="mb-3">
      <label for="sname" class="form-label">Species</label>
      <input type="text" class="form-control" formControlName="sname">
    </div> -->


    <button type="submit" class="btn btn-primary">Hozzáad</button>
  </form>

  <h2 class="p-4 bg-info mt-3">Állatok az adatbázisban: </h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Állat neve</th>
        <th scope="col">Állat faja</th>
        <th scope="col">Állat kora</th>
        <th scope="col">Állat neme</th>
        <th scope="col">Örökbefogadott-e</th>
        <th scope="col">Menhely</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let pet of pets">

        <td>{{pet.name}}</td>
        <td>{{pet.bname}}</td>
        <td>{{pet.age}} éves</td>
        <td *ngIf="pet.gender == false">hím</td>
        <td *ngIf="pet.gender == true"> nőstény</td>
        <td *ngIf="pet.adopted==false">Örökbefogadható</td>
        <td *ngIf="pet.adopted==true">Örökbefogadott</td>

      </tr>
    </tbody>
  </table>
</div>
