<div class="bg-light p-5">
  <div class="d-flex justify-content-evenly mb-3">
    <button class="btn btn-info" (click)="showpets()">Állatok kezelése</button>
    <button class="btn btn-info" (click)="showspecies()">Fajok kezelése</button>
    <button class="btn btn-info" (click)="showbreeds()">Fajták kezelése</button>
    <button class="btn btn-info" (click)="showshelters()">Menhelyek kezelése</button>
    <button class="btn btn-info" (click)="showadoptions()">Örökbefogadások kezelése</button>
  </div>
  <div *ngIf="show_shelters==true"> 
    <app-manageshelters></app-manageshelters>
  </div>
  <div *ngIf="show_pets==true">
    <app-managepets></app-managepets>
  </div>
  <div *ngIf="show_species==true">
    <app-managespecies></app-managespecies>
  </div>
  <div *ngIf="show_breeds==true">
    <app-managebreeds></app-managebreeds>
  </div>
  <div *ngIf="show_adoptions==true">
    <app-manageadoptions></app-manageadoptions>
  </div>
</div>