<h2 class="bg-info p-4" data-bs-toggle="collapse" href="#newAdoption" role="button" aria-expanded="false"
    aria-controls="newAdoption">Új örökbefogadás hozzáadása</h2>
<form class="form-control collapse" id="newAdoption" [formGroup]="newAdoptionForm" (ngSubmit)="newAdoption()">
    <div class="mb-3">
        <label for="date" class="form-label">Dátum</label>
        <input type="datetime" class="form-control" formControlName="date" required>
        <label for="user_id" class="form-label">Felhasználó</label>
        <input type="text" class="form-control" formControlName="user" required>
        <label for="pet_id" class="form-label">Állat</label>
        <input type="text" class="form-control" formControlName="name" required>
    </div>
    <button type="submit" class="btn btn-primary">Hozzáad</button>
</form>
<h2 class="p-4 bg-info mt-3">Örökbefogadások az adatbázisban: </h2>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Dátum</th>
        <th scope="col">Felhasználó</th>
        <th scope="col">Állat neve</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let adoption of adoptions">
        <td>{{adoption.date}}</td>
        <td>{{adoption.user}}</td>
        <td>{{adoption.name}}</td>
        <td>
          <h5 #id [attr.data-adoptionid]="adoption.id" class="card-text visually-hidden w-0">{{adoption.id}}</h5>
          <button (click)="deleteAdoption(adoption.id)" class="btn btn-danger max-3">Törlés</button>
          <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onEdit(adoption)"
            class="btn btn-info mx-2">Szerkesztés</button>
        </td>

      </tr>

    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Örökbefogadás adatainak frissítése</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateAdoptionForm" (ngSubmit)="updateAdoption()">

          <div class="mb-3 visually-hidden w-0">
            <label for="id" class="form-label">id</label>
            <input type="text" class="form-control" formControlName="id" required>

          </div>
          <div class="mb-3">
            <label for="date" class="form-label">Dátum</label>
            <input type="text" class="form-control" formControlName="date" required>
          </div>
          <div class="mb-3">
            <label for="user" class="form-label">Felhasználó</label>
            <input type="text" class="form-control" formControlName="user" required>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Állat neve</label>
            <input type="text" class="form-control" formControlName="name" required>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
        <button type="submit" class="btn btn-primary" (click)="updateAdoption()">Frissítés</button>
      </div>
    </div>
  </div>
</div>
