
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-image"
style="
  background-image: url('../../assets/14710.jpg');">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">A cicák már vártak!</h1>
      <p class="lead fw-normal">Böngéssz az örökbefogadható cicák között!</p>

    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>



  <div class="card-deck row">
    <div class="card col-lg-6 p-1 text-center mb-2 " *ngFor="let pet of cats" >
      <img #path [attr.data-petpath]="pet.picture_path" src= "http://localhost:8000/images/pet/{{pet.picture_path}}.jpg" class="card-img-top img-thumbnail" id="cat-picture" alt="Card image cap">

      <div class="card-body" id="catInfo">
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="">
            <p #name [attr.data-petname]="pet.name" class="card-title">{{pet.name}}</p>
          </a>
          <h5 #id [attr.data-petid]="pet.id" class="card-text visually-hidden">{{pet.id}}</h5>
          <p #bname [attr.data-petbname]="pet.bname" class="card-text">{{pet.bname}}</p>  
          <p #age [attr.data-petage]="pet.age"class="card-text">{{pet.age}} éves</p>
          <p #gender [attr.data-petgender]="pet.gender" class="visually-hidden">{{pet.gender}}</p>
          <p #neutered [attr.data-petneutered]="pet.neutered" class="visually-hidden"></p>
          <div *ngIf="pet.gender == false">
            <p class="card-text">hím</p>
          </div>
          <div *ngIf="pet.gender == true">
            <p class="card-text">nőstény</p>
        </div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getPetId(id, bname, path, name, age, gender, neutered)"
        class="btn btn-primary mt-2">
          Profil
        </button>
        
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <form [formGroup]="adoptCatForm" (ngSubmit)="adoptCat()">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">{{pet.name}}</h5> -->
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-start d-flex flex-row justify-content-between">
          
          <div>
          <!-- <img src= "http://localhost:8000{{pet.picture_path}}" class="" id="cat-picture" alt="Card image cap"> -->
          </div>
          <div class="">
            <!-- <input type="hidden" class="form-control" formControlName="id" [value]="pet.id"> -->
              <p class="">{{this.petId}}</p>
              <p class="">Neve: {{this.petName}}</p>
              <p class="">Kora: {{this.petAge}} éves</p>
              <div *ngIf="this.petGender == 0">
                <p class="">Neme: hím</p>
              </div>
              <div *ngIf="this.petGender == 1">
                <p class="">Neme: nőstény</p>
              </div>
              <div *ngIf="this.petNeutered == 0">
                <p>Ivartalanított-e: Igen</p>
              </div>
              <div *ngIf="this.petNeutered == 1">
                <p>Ivartalanított-e: Nem</p>
              </div>
              
              
        </div>
        </div>
        <p class="text-center">Ő egy nagyon aranyos cica, bármit megtesz a huncut elfoglaltságokért, proceed with caution</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Bezár</button>
          <button type="submit" class="btn btn-primary" *ngIf="isLoggedIn()" (click)="adoptCat()">Örökbefogadom!</button>
        </div>
      </form>
    </div>
  </div>
</div>