
<!-- style="background-color: rgb(227, 242, 253);" -->
<div>
  <img src="../../assets/borito.jpg" class="img-fluid">
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-image"
style="
  background-image: url('../../assets/14710.jpg');">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 px-lg-5 pt-lg-5" >Üdvözöllek a MacskAppon!</h1>
     
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
<div>

<!-- <div class="jumbotron jumbotron-fluid text-center" style="
background-image: url('../../assets/14710.jpg');" >
  <div class="container">
    
    
  </div> -->
<!-- 
    <div class="py-3"><button type="button" class="btn btn-outline-secondary">
        <a class="nav-link link-secondary" routerLink="/cats">Macskát szeretnék örökbefogadni</a>
        </button>
    </div>
    <div class="py-3"><button type="button" class="btn btn-outline-secondary">
        <a class="nav-link link-secondary" routerLink="/dogs">Kutyát szeretnék örökbefogadni!</a>
        </button>
    </div>
    <div class="py-3"><button type="button" class="btn btn-outline-secondary">
        <a class="nav-link link-secondary" routerLink="/nopage">Egyéb állatot szeretnék örökbefogadni!</a>
        </button>
    </div> -->

    <div class="card-group display-2" >
      <div class="card">
        <img class="card-img-top" src="../../assets/smallcard1.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Macskát szeretnék örökbefogadni!</h5>
          </div>
      </div>
      <div class="card">
        
        <div class="card-body">
          <h5 class="card-title">Kutyát szeretnék örökbefogadni!</h5>
          </div>
        <img class="card-img-top" src="../../assets/smallcarddog.jpg" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/smallcardthird.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Információt szeretnék az örökbefogadásról!</h5>
          </div>
      </div>
    </div>
</div>

