<!-- <div class="registration-form" id="myForm">
      <form >
          <div class="form-icon">
              <span><i class="icon icon-user"><img src="../../assets/cat.png" style="width: 80px;"></i></span>
          </div>
          <div class="form-group">
              <input type="text" class="form-control item" id="username" placeholder="Felhasználónév">
          </div>
          <div class="form-group">
              <input type="password" class="form-control item" id="password" placeholder="Jelszó">
          </div>
          <div class="form-group">
              <input type="password" class="form-control item" id="confirm-password" placeholder="Jelszó megerősítése">
          </div>
          <div class="form-group">
              <input type="text" class="form-control item" id="email" placeholder="Email">
          </div>

          <div class="form-group">

       <div class="input-group">
        <input class="form-control item" placeholder="Születési dátum"
               name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
              

          </div>
          <div class="form-group text-center">
              <button type="button" class="btn btn-block create-account">Regisztráció</button>
              <button type="button" routerLink="/main" class="btn btn-block create-account">Vissza</button>
          </div>
      </form>
 -->




  <!-- </div> -->

  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <div>
      <label for="email">Email</label>
      <input formControlName="email"  type="email"  required>
      <label for="password">Password</label>
      <input formControlName="password"  type="password">
    </div>
    <button>Submit</button>
    <span>Already have an account? 
    <a routerLink="/main">signUp</a></span>
  </form>


  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <script src="assets/js/script.js"></script>
  <pre>Model: {{ model | json }}</pre>
