<h2 class="bg-info p-4" data-bs-toggle="collapse" href="#newPet" role="button" aria-expanded="false"
    aria-controls="newPet">Új kisállat hozzáadása</h2>
<form class="form-control collapse" id="newPet" [formGroup]="newPetForm" (ngSubmit)="newPet()">
    <div class="mb-3">
        <label for="name" class="form-label">Név</label>
        <input type="text" class="form-control" formControlName="name" required>
    </div>

    <label for="bname" class="form-label">Fajták</label>
    <div class="input-group mb-3">
        <select class="form-select" (change)="changeBName($event)" formControlName="bname">
            <option value="">Válassz fajtát: </option>
            <option *ngFor="let breed of breeds" [ngValue]="breed.bname">
                {{breed.bname}}
            </option>
        </select>
    </div>

    <div class="mb-3">
        <label for="age" class="form-label">Kor</label>
        <input type="text" class="form-control" formControlName="age">
    </div>

    <label for="gender" class="form-label">Neme</label>
    <div class="input-group mb-3">
        <select class="form-select" (change)="changeGender($event)" formControlName="gender">
            <option value="">Válassz nemet: </option>
            <option *ngFor="let gender of Gender" [ngValue]="gender">
                {{gender }}
            </option>
        </select>
    </div>

    <label for="shelters_id" class="form-label">Menhely</label>
    <div class="input-group mb-3">
        <select class="form-select" (change)="changeShelter($event)" formControlName="shelters_id">
            <option value="">Válassz menhelyet: </option>
            <option *ngFor="let shelter of shelters" [ngValue]="shelter.id">

                {{shelter.shelter_name }}
            </option>
        </select>
    </div>


    <label for="neutered" class="form-label">Ivartalanított-e</label>
    <div class="input-group mb-3">
        <select class="form-select" (change)="changeNeutered($event)" formControlName="neutered">
            <option value="">Ivartalanított?</option>
            <option *ngFor="let neutered of Neutered" [ngValue]="neutered">
                {{neutered }}
            </option>
        </select>
    </div>

    <label for="image" class="form-label">Kép</label>
    <div class="input-group mb-3">
        <input type="file" class="form-control" (change)="handleFileInput($event)" formControlName="image"
            accept="image/jpeg, image/png, image/jpg">
    </div>
    <button type="submit" class="btn btn-primary">Hozzáad</button>
</form>